<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- 开启注解方式 -->
	<context:annotation-config />
	<!-- 自动扫描包 -->
	<context:component-scan base-package="com.kenfor.demo" />

	<!-- start 配置数据源 -->
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"> 
		</property> <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=msg_board_db;"> 
		</property> <property name="username" value="sa"></property> <property name="password" 
		value="root"></property> </bean> -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="proxool.sqlserver" />
		<!-- <property name="url" value="proxool.mysql" /> -->
	</bean>
	<!-- end -->
	<!-- start 配置Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<!-- 配置数据库方言 -->
				<prop key="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</prop>
				<!-- <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop> -->
				<!-- 输出执行的SQL脚本 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 格式化SQL脚本显示 -->
				<prop key="hibernate.format_sql">true</prop>
				
				<!-- <prop key="hibernate.hbm2ddl.auto">update</prop> -->
			</props>
		</property>
		<!-- 自动扫描*.hbm.xml -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/kenfor/demo/pojo</value>
			</list>
		</property>
	</bean>
	<!-- end -->

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 启用注解事务管理器 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- end -->

	<!-- 配置拦截路径 -->
	<bean name="/index" class="com.kenfor.demo.struts.action.BaseAction" />
	<bean name="/getUserList" class="com.kenfor.demo.struts.action.UserAction" />
	<bean name="/toLogin" class="com.kenfor.demo.struts.action.BaseAction" />
	<bean name="/toRegister" class="com.kenfor.demo.struts.action.BaseAction" />
	<bean name="/login" class="com.kenfor.demo.struts.action.UserAction" />
	<bean name="/register" class="com.kenfor.demo.struts.action.UserAction" />
	<bean name="/logout" class="com.kenfor.demo.struts.action.UserAction" />
	<bean name="/toMessage" class="com.kenfor.demo.struts.action.MessageAction" />
	<bean name="/leavedMessage" class="com.kenfor.demo.struts.action.MessageAction" />
	<bean name="/toComment" class="com.kenfor.demo.struts.action.CommentAction" />
	<bean name="/comment" class="com.kenfor.demo.struts.action.CommentAction" />

</beans>